.button svg {
  font-size: 2em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
}

.formContainerLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  margin-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  right: 2%;
  top: 11%;
  z-index: 1000;
  background-color: #956b4b;
  width: 390px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formContainerRegister {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 35px;
  background-color: #956b4b;
  width: 390px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 2%;
  top: 18%;
  z-index: 1000;
}

input {
  margin-right: 5px;
  border-radius: 5px;
  height: 23px;
  background-color: #cab6a5;
  border-color: #403226;
}
