nav {
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    height: 100px;
    list-style-type: none;
    
    margin: 10px;
    display: flex;
    align-items: center;
  }


  nav ul li {
    padding: 0 20px; /* Lägg till padding på höger och vänster sida */
  }

  .home svg {
    font-size: 30px;
}

.login svg {
    font-size: 30px;
}

.register svg {
    font-size: 30px;
}

.cart {
    position: relative;
}

.cart svg {
    font-size: 37px;
}

.cart p {
    position: absolute;
    right: -10px;
    top: -2px;
    background-color: rgb(16, 16, 16);
    color: white;
    height: 0.2rem;
    width: 0.2rem;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}