.buy svg {
  font-size: 1.5em;
}

.buy:hover {
  cursor: pointer;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

img {
  width: 64%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.2vw;
  margin-top: 10px;
}

.productName {
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.3em;
}

span {
  font-size: 1.1em;
}
